/* Global y Body */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none; 
  }
body{
    background-color: #F8F8FF;
    background-color: #EFECEC;
}
li,ul{
    list-style-type: none;
    color: white;
    
}

/* HEADER */
.img-sm-ico{
    width: 100%;
    height: auto;
}
.modelo-bg-azul{
    background-color: #00008B;
    opacity: 90%;
}
/* Contiene 3 sections: Brand, Search y Toggler-links */
.search-brand-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 0.5fr ;
    gap: 5px;
}
.navbar-brand{
    grid-column: 1/2;
}
.navbar-search{
    grid-column: 2/4;
    background-color:  rgba(255,102,203, 0.5);
}
.navbar-toggler{
    grid-column: 4/5;
    border: 2px solid rgba(255,102,203, 0.5);
}
/* Brand section */
.navbar-brand{
    margin: 0;
}
.navbar-title{
    display: none;
    margin: 0px;
    text-align:start;
    font-size: 1.2em;
    font-weight: 400;
    margin-right: 10px;
    color: white;
}

/* Search section */
.navbar-search{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    border-radius: 18px;
}
.form-control{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
} 
.navbar-search-icon{
    background-image: url('../img/icons/icon-search2.svg');
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: rgb(255, 255, 255);
}
/* Toggler-links section*/
.navbar-nav{
    align-items: center;
}
.navbar{
    --bs-navbar-toggler-border-color:rgba(255,102,203, 0.5);
    --bs-navbar-toggler-border-radius: 15px;
    border-bottom: 1px solid gray;
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 
.nav-link{
    color: white;
    opacity: 70%;
}
.navbar-nav .nav-link.active{
    color:ghostwhite;
    opacity: 100%;
}
.line-t{
    border-top: 0.1px solid rgb(255,102,203, 0.8);
    border-width: 0.1px;
    margin-top: 15px;
}



/* Header - Responsive */
@media only screen and (min-width: 576px){
    
    .line-t{
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 768px) {
    .navbar>.container{
        flex-direction: column;
        align-items: stretch;
    }
    .img-sm-ico{
        width: 20%;
    }
    .navbar-title {
        display:inline-block;
        margin-right: 0px;
    }
    .search-brand-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(2,minmax(50px,10vh));
        gap: 5px;
        align-items: center;
        
    }
    .navbar-brand{
        display: flex;
        grid-column: 2/3;
        grid-row: 1/2;
        align-items: center;
        justify-self: flex-start;
        justify-content: flex-end;
    }
    .navbar-search{
        grid-column: 1/4;
        grid-row: 2/3;
        border-radius: 15px;
    }
    .form-control{
        border-radius: 15px;
    }
    .navbar-collapse{
        display: flex;
        align-self: center;
    }
    .line-t{
        border-top: 0px;
        align-items: flex-start;
        justify-items: flex-start;
        font-size: 1.2em;
    }
  }
  
  @media only screen and (min-width: 1200px) {
    .navbar>.container{
        flex-direction: row;
    }
    .img-sm-ico{
        max-width: 100%;
        height: auto;
        display: block;

    }
    .search-brand-container{
        display: grid;
        grid-template-columns:  0.68fr 1fr;
        grid-template-rows: auto;
        gap: 5px;
        align-content: center;
        justify-items: center;
        
    }
    .navbar-brand{
        display: flex;
        grid-column: 1/2;
    }
    .navbar-search{
        grid-column: 2/3;
        grid-row: auto;
        border-radius: 15px;
    }
    .navbar-collapse{
        justify-content: space-around;
    }
    .navbar-nav{
        margin:0px;
        display: grid;
        grid-template-columns: repeat(3,1fr) 1.8fr 1.8fr;
        align-items: center;
        justify-items: center;
        font-size: 1.1em;     
    }
    .nav-link-one{
        grid-column: 1/2;
    }
    .nav-link-two{
        grid-column: 2/3;
    }
    .nav-link-three{
        grid-column: 3/4;
    }
    .nav-link-four{
        grid-column: 4/5;
    }
    .nav-link-five{
        grid-column: 5/6;
    }
    .navbar-title{
        font-size: 1.1em;
        font-weight: 600;
        margin-right: 0px;
    }
  }

  @media only screen and (min-width: 1400px) {
    .search-brand-container{
        grid-template-columns: 1fr 1fr;  
        justify-items:normal;
    }
    .navbar-brand{
        justify-content: start;
    }
}
/* FIN HEADER */
 
/* FOOTER */
.footer-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
    align-items: center;
    justify-items: center;
    background-color: #00008B;
    opacity: 90%;
    padding: 10px;
    border-top: 1px solid gray;
}
.txt-white{
    color: white;

}
.butons-a{
    color: #00008B;
}

.footer-links{
    font-size: 2em;
    color: white;
}
.footer-links:hover{
    color: rgb(255,102,203, 0.8);
}
.footer-butons{
    font-size: 1em;
    font-weight: 400;
    padding: 0.5rem;
    outline: 1px solid black;
    background-color: rgb(255,102,203, 0.5);
    color: white;
}
.footer-butons:hover{
    background-color: rgb(255,102,203, 0.6);
    outline: 1px solid rgba(3, 3, 184, 0.641);
    color: white;

}

/*Footer - Help Section*/
.footer-help{
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
/* Footer - Networks*/
.footer-networks{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.footer-networks p{
    font-size: 1.3em;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 3px;

}
.footer-networks-butons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 200px;
    gap: 8px;
    justify-content: center;
    
}
/* Footer - WorkWithUs*/
.footer-workwithus{
    grid-row: 5/6;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.footer-workplaceicon{
    width: 80%;
    align-self: center;
    padding: 5px;
}
/* Footer - Division*/
.footer-division-1{
    grid-row: 2/3;
    border-top: 5px solid gray;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.footer-division-2{
    grid-row:4/5;
    border-top: 5px solid gray;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.division-p{
    color: #00008B;
}
/* Footer - Responsive */

@media only screen and (min-width: 576px){
    .footer-networks p{
        font-size: 2em;
    
    }
    .footer-links{
        font-size: 2em;
    
    }
    .footer-butons{
        font-size: 1.2em;
        font-weight: 500;
    }
}
@media only screen and (min-width: 768px) {
    .footer-container{
        grid-template-columns: 1fr 15px 15px 1fr;
        grid-template-rows: 0.99fr 1fr;
        padding: 0px;
    }
    .footer-help{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer-networks{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .footer-workwithus{
        grid-column: 1/5;
        grid-row: 2/3;
    }
    .footer-division-1{
        border: 0px;
        border-right: 2px solid gray;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
        height: 75%;
        grid-column: 2/3;
        grid-row: 1/2;

    }
    .footer-division-2{
        display: none;
    }
    .footer-workplaceicon{
        margin-top: 20px;
        width: 90%;
    }
    .footer-networks p{
        font-size: 1.6em; 
    }
    .footer-butons{
        font-size: 1.2em;
        font-weight: 500;
    }
    .footer-links{
        font-size: 1.8em;
    }
    .footer-networks-butons{
        gap: 8px;
    }
}
@media only screen and (min-width: 1200px) {
    .footer-container{
        grid-template-columns: 1fr repeat(2,15px) 1fr repeat(2,15px) 1fr;
        grid-template-rows:none;
    }
    .footer-help{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .footer-networks{
        grid-column: 4/5;
        grid-row: 1/2;
    }
    .footer-workwithus{
        grid-column: 7/8;
        grid-row: 1/2;
    }
    .footer-division-1{
        grid-column: 2/3;
        border-right: 2px solid gray;
        grid-row: 1/2;

    }
    .footer-division-2{
        grid-column: 5/6;
        border-left: 2px solid gray;
        border-top: 0px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 75%;
        grid-row: 1/2;
    }
    .footer-workwithus{
        gap: 3px;
        margin-bottom: 13px;
    }
    .footer-workwithus{
        gap: 3px;
    }
}
/* FIN FOOTER */