@charset "UTF-8";
/* variables, mixins, reset*/
/*----------------------- Color Variables ------------------------------*/
/*color text - animacion - iniciar sesion y contact title*/
/* ---------------  Font variables --------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #EBEBEB;
  min-height: 100vh;
}

li, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* components Animations*/
.cardanim, .product-productitem, #main-productos .container-product .product-list .product-item {
  opacity: 0.8;
  transition: opacity 0.15s, background 0.6s ease, scale 0.2s;
}

.cardanim:hover, .product-productitem:hover, #main-productos .container-product .product-list .product-item:hover {
  background-color: rgb(30, 177, 235);
  transition: background-color 0.8s ease 0.2s;
  opacity: 1;
  transform: scaleX(1.1) scaleY(1.1);
}

.moreoffers-cardanim, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container {
  opacity: 0.9;
  transition: opacity 0.15s, scale 0.2s;
}

.moreoffers-cardanim:hover, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container:hover {
  border-radius: 20px;
  opacity: 1.1;
  transform: scaleX(1.1) scaleY(1.1);
}

@keyframes card-color {
  from {
    background: linear-gradient(black, transparent), gray;
  }
  to {
    background: linear-gradient(black, transparent), gray;
  }
}
@keyframes card-radial {
  0% {
    background-image: radial-gradient(circle closest-corner at 0% 0%, blue, gray);
  }
  14.2% {
    background-image: radial-gradient(circle closest-corner at 50% 0%, blue, gray);
  }
  28.5% {
    background-image: radial-gradient(circle closest-corner at 100% 0%, blue, gray);
  }
  42.8% {
    background-image: radial-gradient(circle closest-corner at 100% 50%, blue, gray);
  }
  57% {
    background-image: radial-gradient(circle closest-corner at 100% 100%, blue, gray);
  }
  71.1% {
    background-image: radial-gradient(circle closest-corner at 50% 100%, blue, gray);
  }
  85.3% {
    background-image: radial-gradient(circle closest-corner at 0% 100%, blue, gray);
  }
  100% {
    background-image: radial-gradient(circle closest-corner at 0% 50%, blue, gray);
  }
}
.txt-anim-left, main .aboutus-container .aboutus-sect-3, main .aboutus-container .aboutus-sect-2, main .aboutus-container .aboutus-sect-1 {
  animation: appears-left 0.5s linear;
  position: relative;
}

@keyframes appears-left {
  0% {
    right: 100%;
  }
  50% {
    right: 50%;
  }
  100% {
    right: 0%;
  }
}
.txt-anim-right {
  animation: appears-right 0.5s linear;
  position: relative;
}

@keyframes appears-right {
  0% {
    left: 100%;
  }
  50% {
    left: 50%;
  }
  100% {
    left: 0%;
  }
}
.mail-anim, #main-contact .contact-pos .contact .contact-container .contact-form-img {
  animation: pulso 1s infinite;
}

@keyframes pulso {
  100% {
    box-shadow: 0 0 5px 5px rgba(61, 25, 221, 0.3);
  }
  60% {
    box-shadow: 0 0 0px 1px rgba(207, 47, 15, 0.7);
  }
  0% {
    box-shadow: 0 0 0px 15px rgba(0, 0, 0, 0.3);
  }
}
@keyframes pulso2 {
  100% {
    box-shadow: 0 0 5px 5px rgba(61, 25, 221, 0.3);
  }
  60% {
    box-shadow: 0 0 0px 1px rgba(207, 47, 15, 0.7);
  }
  0% {
    box-shadow: 0 0 0px 15px rgba(0, 0, 0, 0.3);
  }
}
.sesion-anim, #main-sesion .sesion-container .sesion-title, #main-contact .contact-pos .contact .contact-title {
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  animation: color-txt 0.6s ease 3;
  animation-play-state: running;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: -webkit-linear-gradient(left, rgb(163, 14, 255), rgb(163, 14, 255), rgb(0, 248, 182), rgb(0, 248, 182), rgb(0, 248, 182), rgb(163, 14, 255));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes color-txt {
  0% {
    background: -webkit-linear-gradient(right, rgb(0, 248, 182), rgb(0, 248, 182), rgb(0, 248, 182), rgb(163, 14, 255), rgb(163, 14, 255), rgb(163, 14, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: -webkit-linear-gradient(right, rgb(163, 14, 255), rgb(0, 248, 182), rgb(0, 248, 182), rgb(0, 248, 182), rgb(163, 14, 255), rgb(163, 14, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: -webkit-linear-gradient(left, rgb(163, 14, 255), rgb(163, 14, 255), rgb(0, 248, 182), rgb(0, 248, 182), rgb(0, 248, 182), rgb(163, 14, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: -webkit-linear-gradient(left, rgb(163, 14, 255), rgb(163, 14, 255), rgb(163, 14, 255), rgb(0, 248, 182), rgb(0, 248, 182), rgb(0, 248, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100% {
    background: -webkit-linear-gradient(right, rgb(0, 248, 182), rgb(163, 14, 255), rgb(163, 14, 255), rgb(163, 14, 255), rgb(0, 248, 182), rgb(0, 248, 182));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.btn-pulse:hover, #main-index section .container-info .info-link .info-buttons:hover, footer .footer-container .footer-workwithus .footer-butons:hover, footer .footer-container .footer-help .footer-butons:hover, .product-productitem .product-content .product-item__btn button:hover, #main-productos .container-product .product-list .product-item .product-content .product-item__btn button:hover, .sesion-submit input[type=submit]:hover, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit input[type=submit]:hover, .sesion-submit a:hover, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit a:hover, .formcontact .form_input-submit[type=submit]:hover, #main-contact .contact-pos .contact .contact-container .form-contact .form_input-submit[type=submit]:hover {
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.navitem-anim, header nav .navbar-collapse .navbar-nav .nav-link {
  display: inline-block;
}

.navitem-anim::after, header nav .navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: white;
  margin: auto;
  transition: width 0.3s;
}

.navitem-anim.active::after, header nav .navbar-collapse .navbar-nav .active.nav-link::after {
  background-color: transparent;
  transition: none;
}

.navitem-anim:hover::after, header nav .navbar-collapse .navbar-nav .nav-link:hover::after {
  width: 100%;
}

.link-jump, footer .footer-container .footer-networks .footer-networks-butons .butons-a .footer-links {
  transition: line-height 0.5s;
}

.link-jump:hover, footer .footer-container .footer-networks .footer-networks-butons .butons-a .footer-links:hover {
  line-height: 25px;
}

/* components */
/* btn-footer controla todos los botones, divisions controla las primera division 
, la 2da tiene su propio comportamiento pero comparte las características */
.btn-footer, footer .footer-container .footer-workwithus .footer-butons, footer .footer-container .footer-help .footer-butons {
  font-size: 1em;
  font-weight: 400;
  padding: 0.5rem;
  background-color: rgba(255, 102, 203, 0.5);
  color: white;
  outline: 1px solid black;
}
.btn-footer:hover, footer .footer-container .footer-workwithus .footer-butons:hover, footer .footer-container .footer-help .footer-butons:hover {
  background-color: rgba(255, 102, 203, 0.6);
  color: white;
  outline: 1px solid rgba(3, 3, 184, 0.641);
}

.divisions, footer .footer-container .footer-division-2, footer .footer-container .footer-division-1 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  border-top: 5px solid gray;
}
.divisions .division-p, footer .footer-container .footer-division-2 .division-p, footer .footer-container .footer-division-1 .division-p {
  color: rgb(0, 0, 139);
}

@media only screen and (min-width: 576px) {
  .btn-footer, footer .footer-container .footer-workwithus .footer-butons, footer .footer-container .footer-help .footer-butons {
    font-size: 1.2em;
    font-weight: 500;
  }
}
@media only screen and (min-width: 768px) {
  .btn-footer, footer .footer-container .footer-workwithus .footer-butons, footer .footer-container .footer-help .footer-butons {
    font-size: 1.2em;
    font-weight: 500;
  }
  .divisions, footer .footer-container .footer-division-2, footer .footer-container .footer-division-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border: 0px;
    border-right: 2px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    text-align: center;
    height: 75%;
  }
}
@media only screen and (min-width: 1200px) {
  .divisions, footer .footer-container .footer-division-2, footer .footer-container .footer-division-1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    border-right: 2px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}
.previous-icon, #main-index #main-carousel .my-container .carousel-control-prev .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='white' fill='white'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  filter: brightness(0.4) sepia(1) hue-rotate(-600deg) saturate(10);
  height: 10%;
  min-width: 30px;
  border-radius: 20px;
}

.next-icon, #main-index #main-carousel .my-container .carousel-control-next .carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' stroke='white' fill='white'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  filter: brightness(0.4) sepia(1) hue-rotate(-600deg) saturate(10);
  height: 10%;
  min-width: 30px;
  border-radius: 20px;
}

.index-info-buttons, #main-index section .container-info .info-link .info-buttons {
  font-size: 1em;
  font-weight: 400;
  padding: 0.4rem;
  margin: 0.5rem;
  border-radius: 5px;
  outline: 1px solid rgb(0, 75, 172);
  background-color: rgba(65, 121, 194, 0.7);
  color: white;
}

.index-info-buttons:hover, #main-index section .container-info .info-link .info-buttons:hover {
  background-color: rgba(0, 75, 172, 0.08);
  color: black;
}

@media only screen and (min-width: 768px) {
  .index-info-buttons, #main-index section .container-info .info-link .info-buttons {
    font-size: 1.2em;
    font-weight: 500;
  }
}
@media only screen and (min-width: 1200px) {
  .index-info-buttons, #main-index section .container-info .info-link .info-buttons {
    font-size: 1.03em;
    font-weight: 400;
  }
}
.cards-img, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div .card__link .card__img, #main-index .main-offers-container .main-offers-day .card-container div .card__link .card__img {
  width: 100%;
  height: auto;
}

.cards-link, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div .card__link, #main-index .main-offers-container .main-offers-day .card-container div .card__link {
  font-size: 0.9em;
  font-weight: 400;
  color: blue;
}

.cards-price-linethrought, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div .line-through, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info .line-through {
  text-decoration-line: line-through;
  font-size: 0.7em;
  margin-bottom: 0.5rem;
}

.cards-price, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div div .card__price, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info div .card__price {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.cards-shipment, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div div .card__shipment, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info div .card__shipment {
  font-size: 1rem;
  font-weight: 500;
  color: green;
}

@media only screen and (min-width: 1200px) {
  .cards-link, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div .card__link, #main-index .main-offers-container .main-offers-day .card-container div .card__link {
    font-size: 1.2em;
  }
  .cards-price-linethrought, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div .line-through, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info .line-through {
    font-size: 1em;
  }
  .cards-price, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div div .card__price, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info div .card__price {
    font-size: 1.3em;
  }
  .cards-shipment, #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container div div .card__shipment, #main-index .main-offers-container .main-offers-day .card-container .offer-day-info div .card__shipment {
    font-size: 1.2rem;
    font-weight: 600;
    color: green;
  }
}
.formcontact, #main-contact .contact-pos .contact .contact-container .form-contact {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-items: center;
  gap: 40px;
}
.formcontact .form_input, #main-contact .contact-pos .contact .contact-container .form-contact .form_input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 124);
  background: transparent;
  color: white;
}
.formcontact .form_input:focus, #main-contact .contact-pos .contact .contact-container .form-contact .form_input:focus {
  background: linear-gradient(to bottom, transparent, rgb(34, 34, 34));
  outline: none;
  border-bottom: 3px solid rgb(13, 13, 194);
}
.formcontact .form_input .form-selec__option, #main-contact .contact-pos .contact .contact-container .form-contact .form_input .form-selec__option {
  background-color: black;
}
.formcontact #asunto, #main-contact .contact-pos .contact .contact-container .form-contact #asunto {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.formcontact .form_input-submit[type=submit], #main-contact .contact-pos .contact .contact-container .form-contact .form_input-submit[type=submit] {
  background-color: rgb(0, 0, 124);
  color: white;
  outline: 3px solid rgba(0, 0, 139, 0.5);
  padding: 10px 50px;
  align-self: center;
}
.formcontactimg, #main-contact .contact-pos .contact .contact-container .contact-form-img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 139, 0.5);
  border-radius: 250px;
  width: 80%;
  align-self: flex-start;
  justify-self: center;
  justify-content: center;
}
.formcontactimg .contact__img, #main-contact .contact-pos .contact .contact-container .contact-form-img .contact__img {
  border-radius: 25px;
  width: 50%;
}

@media only screen and (min-width: 576px) {
  .formcontactimg, #main-contact .contact-pos .contact .contact-container .contact-form-img {
    width: 50%;
  }
}
@media only screen and (min-width: 768px) {
  .formcontactimg, #main-contact .contact-pos .contact .contact-container .contact-form-img {
    width: 40%;
  }
}
@media only screen and (min-width: 1200px) {
  .formcontact, #main-contact .contact-pos .contact .contact-container .form-contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .formcontact .form_input-submit[type=submit], #main-contact .contact-pos .contact .contact-container .form-contact .form_input-submit[type=submit] {
    justify-items: center;
  }
  .formcontactimg, #main-contact .contact-pos .contact .contact-container .contact-form-img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
    justify-self: center;
    align-self: center;
    justify-content: center;
  }
  .formcontactimg .contact__img, #main-contact .contact-pos .contact .contact-container .contact-form-img .contact__img {
    border-radius: 25px;
    width: 60%;
  }
}
.sesion-inputs, #main-sesion .sesion-container .sesion__content .sesion-form .sesion-form__input {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 3px solid rgb(0, 0, 124);
  background: transparent;
  color: white;
}
.sesion-inputs:focus, #main-sesion .sesion-container .sesion__content .sesion-form .sesion-form__input:focus {
  background: linear-gradient(to bottom, transparent, rgb(34, 34, 34));
  outline: none;
  border-bottom: 3px solid rgb(13, 13, 194);
}

.sesion-submit, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px 20px;
}
.sesion-submit a, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit a {
  background-color: rgb(0, 0, 124);
  color: white;
  outline: 3px solid rgba(0, 0, 139, 0.5);
  padding: 10px 20px;
  border: 2px outset rgb(118, 118, 118);
}
.sesion-submit a:active, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit a:active {
  border: 2px inset rgb(118, 118, 118);
}
.sesion-submit input[type=submit], #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit input[type=submit] {
  background-color: rgb(0, 0, 124);
  color: white;
  outline: 3px solid rgba(0, 0, 139, 0.5);
  padding: 10px 20px;
  align-self: center;
}
@media only screen and (min-width: 576px) {
  .sesion-submit a, #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit a {
    padding: 10px 40px;
  }
  .sesion-submit input[type=submit], #main-sesion .sesion-container .sesion__content .sesion-form .sesion__submit input[type=submit] {
    padding: 10px 40px;
  }
}

.product-productitem, #main-productos .container-product .product-list .product-item {
  background: linear-gradient(gray, transparent), gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 250px;
  justify-content: flex-start;
  color: white;
  box-shadow: 0px 0px 11px 3px gray;
}
.product-productitem .container-image, #main-productos .container-product .product-list .product-item .container-image {
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.product-productitem .container-image .product-image, #main-productos .container-product .product-list .product-item .container-image .product-image {
  width: 100%;
  height: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.product-productitem .product-content, #main-productos .container-product .product-list .product-item .product-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 0.3fr;
  justify-items: center;
  height: 100%;
  padding: 20px 0px;
  gap: 5px;
}
.product-productitem .product-content .product-item__link, #main-productos .container-product .product-list .product-item .product-content .product-item__link {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 15px;
}
.product-productitem .product-content .product-item__link a, #main-productos .container-product .product-list .product-item .product-content .product-item__link a {
  color: white;
}
.product-productitem .product-content div .product-item__price, #main-productos .container-product .product-list .product-item .product-content div .product-item__price {
  font-family: Proxima Nova, -apple-system, Roboto, Arial, sans-serif;
}
.product-productitem .product-content .product-item__btn, #main-productos .container-product .product-list .product-item .product-content .product-item__btn {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
.product-productitem .product-content .product-item__btn button, #main-productos .container-product .product-list .product-item .product-content .product-item__btn button {
  background-color: rgb(0, 0, 124);
  color: white;
  outline: 3px solid rgba(0, 0, 139, 0.5);
  padding: 10px 20px;
  border: 2px outset rgb(118, 118, 118);
}
.product-productitem .product-content .product-item__btn button:hover, #main-productos .container-product .product-list .product-item .product-content .product-item__btn button:hover {
  background-color: rgb(13, 13, 194);
}
.product-productitem .product-content .product-item__btn button:focus, #main-productos .container-product .product-list .product-item .product-content .product-item__btn button:focus {
  background: rgb(13, 13, 194);
}
.product-productitem .product-content .product-item__btn button:active, #main-productos .container-product .product-list .product-item .product-content .product-item__btn button:active {
  border: 2px inset rgb(118, 118, 118);
}

/* Layouts */
/* INICIO - FOOTER */
footer {
  background-color: rgb(0, 0, 139);
}
footer .footer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr 0.1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 10px;
}
footer .footer-container .footer-help {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 15px;
}
footer .footer-container .footer-help .footer-butons {
  /* subcomp-footer.scss */
}
footer .footer-container .footer-division-1 {
  /* subcomp-footer.scss */
}
footer .footer-container .footer-networks {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
}
footer .footer-container .footer-networks p {
  font-size: 1.3em;
  font-weight: 600;
  padding: 5px;
  margin-bottom: 3px;
}
footer .footer-container .footer-networks .txt-white {
  color: white;
}
footer .footer-container .footer-networks .footer-networks-butons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 200px;
  gap: 8px;
  justify-content: center;
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .footer-links {
  font-size: 2em;
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-twitter-x {
  color: floralwhite;
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-youtube {
  color: red;
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-facebook {
  color: rgb(36, 111, 250);
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-linkedin {
  color: steelblue;
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-instagram {
  color: rgb(238, 121, 31);
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-twitch {
  color: rgb(245, 15, 245);
}
footer .footer-container .footer-networks .footer-networks-butons .butons-a .bi-tiktok {
  color: aliceblue;
}
footer .footer-container .footer-division-2 {
  /* subcomp-footer.scss */
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
footer .footer-container .footer-workwithus {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
}
footer .footer-container .footer-workwithus .footer-workplaceicon {
  width: 80%;
  align-self: center;
  padding: 5px;
}
footer .footer-container .footer-workwithus .footer-butons {
  /* btn-footer.scss */
}
@media only screen and (min-width: 576px) {
  footer .footer-container .footer-networks p {
    font-size: 2em;
  }
  footer .footer-container .footer-networks .footer-networks-butons .butons-a .footer-links {
    font-size: 2em;
  }
}
@media only screen and (min-width: 768px) {
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr 15px 15px 1fr;
    grid-template-rows: 0.99fr 1fr;
    padding: 0px;
  }
  footer .footer-container .footer-help {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  footer .footer-container .footer-networks {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  footer .footer-container .footer-networks .footer-networks p {
    font-size: 1.6em;
  }
  footer .footer-container .footer-networks .footer-networks-butons {
    gap: 8px;
  }
  footer .footer-container .footer-networks .footer-networks-butons .butons-a .footer-links {
    font-size: 1.8em;
  }
  footer .footer-container .footer-division-2 {
    display: none;
  }
  footer .footer-container .footer-workwithus {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }
  footer .footer-container .footer-workwithus .footer-workplaceicon {
    margin-top: 20px;
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  footer .footer-container {
    display: grid;
    grid-template-columns: 1fr repeat(2, 15px) 1fr repeat(2, 15px) 1fr;
    grid-template-rows: none;
  }
  footer .footer-container .footer-help {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  footer .footer-container .footer-networks {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  footer .footer-container .footer-division-2 {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
    border-right: 0px;
    border-left: 2px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  footer .footer-container .footer-workwithus {
    grid-column: 7 / 8;
    grid-row: 1 / 2;
    gap: 3px;
    margin-bottom: 13px;
  }
}

/*  INICIO - HEADER */
header {
  background-color: rgba(0, 0, 139, 0.9);
}
header nav {
  --bs-navbar-toggler-border-color: map-get($colors,"bg-details");
  --bs-navbar-toggler-border-radius: 15px;
}
header nav .brand-search-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 0.5fr;
  grid-template-rows: 1fr;
  gap: 5px;
}
header nav .brand-search-container .navbar-brand {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  margin: 0px;
}
header nav .brand-search-container .navbar-brand .company-logo {
  width: 100%;
  height: auto;
}
header nav .brand-search-container .navbar-brand .navbar-title {
  display: none;
  text-align: start;
  margin: 0px;
  font-size: 1.2em;
  font-weight: 400;
  margin-right: 10px;
}
header nav .brand-search-container .navbar-search {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: rgba(255, 102, 203, 0.5);
  border-radius: 18px;
}
header nav .brand-search-container .navbar-search .form-control {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
header nav .brand-search-container .navbar-search button .navbar-search-icon {
  background-image: url("../img/icons/icon-search2.svg");
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
header nav .brand-search-container .navbar-toggler {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
  border: 2px solid rgba(255, 102, 203, 0.5);
}
header nav .brand-search-container .navbar-toggler:focus {
  box-shadow: 0 0 0 0;
}
header nav .brand-search-container .navbar-toggler:hover {
  box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width);
}
header nav .brand-search-container .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
header nav .navbar-collapse .navbar-nav {
  align-items: center;
}
header nav .navbar-collapse .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.7);
}
header nav .navbar-collapse .navbar-nav .nav-link.active {
  color: rgb(255, 255, 255);
}
header nav .navbar-collapse .line-t {
  border-top: 0.1px solid rgba(255, 102, 203, 0.5);
  border-width: 0.1px;
  margin-top: 15px;
}
@media only screen and (min-width: 576px) {
  header nav .navbar-collapse .navbar-nav {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 768px) {
  header nav .container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
  }
  header nav .container .brand-search-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(2, minmax(50px, 10vh));
    gap: 5px;
    align-items: center;
  }
  header nav .container .brand-search-container .navbar-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-content: center;
    align-items: center;
    justify-self: flex-start;
  }
  header nav .container .brand-search-container .navbar-brand .company-logo {
    width: 20%;
  }
  header nav .container .brand-search-container .navbar-brand .navbar-title {
    display: inline-block;
    margin-right: 0px;
  }
  header nav .container .brand-search-container .navbar-search {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    border-radius: 15px;
  }
  header nav .container .brand-search-container .navbar-search .form-control {
    border-radius: 15px;
  }
  header nav .container .navbar-collapse {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
  }
  header nav .container .navbar-collapse .navbar-nav {
    margin-top: 15px;
    border-top: 0px;
    align-items: flex-start;
    justify-items: flex-start;
  }
}
@media only screen and (min-width: 1200px) {
  header nav .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  header nav .container .brand-search-container {
    display: grid;
    grid-template-columns: 0.68fr 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
    align-content: center;
    justify-items: center;
  }
  header nav .container .brand-search-container .navbar-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  header nav .container .brand-search-container .navbar-brand .company-logo {
    max-width: 100%;
    height: auto;
    display: block;
  }
  header nav .container .brand-search-container .navbar-brand .navbar-title {
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 0px;
  }
  header nav .container .brand-search-container .navbar-search {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-row: auto;
    border-radius: 15px;
  }
  header nav .container .navbar-collapse {
    justify-content: space-around;
  }
  header nav .container .navbar-collapse .navbar-nav {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.8fr 1.6fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    font-size: 1.1em;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item-one {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item-two {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item-three {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item-four {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
  }
  header nav .container .navbar-collapse .navbar-nav .nav-item-five {
    grid-column: 5 / 6;
    grid-row: 1 / 2;
  }
}
@media only screen and (min-width: 1400px) {
  header nav .container .brand-search-container {
    grid-template-columns: 0.7fr 1.3fr;
    justify-items: normal;
  }
  header nav .container .brand-search-container .navbar-brand {
    justify-content: start;
  }
  header nav .container .navbar-collapse .navbar-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.8fr 1.4fr;
    grid-template-rows: 1fr;
  }
}

/* FIN HEADER */
/* Pages */
/* INICIO - MAIN - INDEX */
#main-index {
  overflow-x: hidden;
}
@media only screen and (min-width: 768px) {
  #main-index {
    background-image: url(../img/backgrounds/bg-index-inverse.png), url(../img/backgrounds/bg-index.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 25% 100%, 25% 100%;
    background-position: left, right;
    padding-bottom: 5px;
  }
}
#main-index #main-carousel {
  display: none;
}
@media only screen and (min-width: 768px) {
  #main-index #main-carousel {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  #main-index #main-carousel .my-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #main-index #main-carousel .my-container .carousel-inner .carousel-item img {
    height: 50vh;
  }
  #main-index #main-carousel .my-container .carousel-inner .carousel-item .carousel-caption .welcome-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: aquamarine;
    font-style: oblique;
    font-variant: small-caps;
    background-color: transparent;
    padding-left: 30px;
  }
  #main-index #main-carousel .my-container .carousel-inner .carousel-item .carousel-caption .welcome-title .remark {
    font-weight: 700;
  }
  #main-index #main-carousel .my-container .carousel-control-prev {
    position: absolute;
    top: 0;
    justify-content: flex-start;
    width: 40%;
    height: 100%;
  }
  #main-index #main-carousel .my-container .carousel-control-next {
    position: absolute;
    top: 0;
    justify-content: flex-end;
    width: 40%;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #main-index #main-carousel .my-container .carousel-inner .carousel-item .carousel-caption .welcome-title {
    font-size: 1.4rem;
  }
  #main-index #main-carousel .my-container .carousel-control-prev {
    margin-top: 100px;
    min-width: 50px;
  }
  #main-index #main-carousel .my-container .carousel-control-next {
    margin-top: 100px;
    min-width: 50px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-index #main-carousel .my-container .carousel-inner .carousel-item .carousel-caption .welcome-title {
    font-size: 1.6rem;
    line-height: 3;
    padding-left: 50px;
  }
  #main-index #main-carousel .my-container .carousel-control-prev {
    margin-top: 0px;
  }
  #main-index #main-carousel .my-container .carousel-control-next {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1400px) {
  #main-index #main-carousel .my-container .carousel-inner .carousel-item .carousel-caption .welcome-title {
    font-size: 1.8rem;
    line-height: 5;
  }
}
#main-index .main-offers-container {
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: 0.5fr 0.5fr;
  padding: 0px;
  gap: 30px;
  margin-bottom: 40px;
  margin-top: 40px;
  justify-content: space-around;
  border-radius: 20px;
}
#main-index .main-offers-container .main-offers-day {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: center;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 11px 3px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#main-index .main-offers-container .main-offers-day div .offer-title {
  font-size: 0.9em;
  font-weight: 600;
  display: block;
  margin-bottom: 0px;
  text-align: start;
}
#main-index .main-offers-container .main-offers-day .card-container {
  width: 100%;
  height: auto;
  padding: 20px;
}
#main-index .main-offers-container .main-offers-moreoffers {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  border: 1px solid gray;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 11px 3px gray;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
#main-index .main-offers-container .main-offers-moreoffers div .offer-title {
  font-size: 0.9em;
  font-weight: 600;
  display: block;
  margin-bottom: 15px;
  text-align: start;
}
#main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
  gap: 20px;
  text-align: center;
  padding: 20px;
}
#main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container {
  min-width: 100%;
  height: auto;
}
@media only screen and (min-width: 576px) {
  #main-index .main-offers-container {
    grid-template-columns: 550px;
  }
  #main-index .main-offers-container .main-offers-day div .offer-title {
    font-size: 1.2em;
    font-weight: 600;
  }
  #main-index .main-offers-container .main-offers-moreoffers div .offer-title {
    font-size: 1.2em;
    font-weight: 600;
  }
}
@media only screen and (min-width: 768px) {
  #main-index .main-offers-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  #main-index .main-offers-container .main-offers-day {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 100%;
  }
  #main-index .main-offers-container .main-offers-day .card-container {
    height: 100%;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
  #main-index .main-offers-container .main-offers-moreoffers {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container {
    min-width: 50%;
    height: 100%;
  }
}
@media only screen and (min-width: 992px) {
  #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider {
    height: 100%;
  }
  #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container {
    min-width: 70%;
  }
}
@media only screen and (min-width: 1200px) {
  #main-index .main-offers-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    gap: 15px;
  }
  #main-index .main-offers-container .main-offers-day {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #main-index .main-offers-container .main-offers-day div .offer-title {
    font-size: 1.3em;
  }
  #main-index .main-offers-container .main-offers-day .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 20px 0px;
    justify-content: flex-end;
  }
  #main-index .main-offers-container .main-offers-moreoffers {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  #main-index .main-offers-container .main-offers-moreoffers div .offer-title {
    font-size: 1.3em;
  }
  #main-index .main-offers-container .main-offers-moreoffers .moreoffers-slider .moreoffers-card-container {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
#main-index section .container-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr 0.3fr);
  align-items: flex-start;
  text-align: center;
  gap: 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0px 0px 11px 3px gray;
  background-color: white;
  border-radius: 20px;
}
#main-index section .container-info .info-item:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
#main-index section .container-info .info-item:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
#main-index section .container-info .info-item:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}
#main-index section .container-info .info-item .info-img {
  padding: 0.5rem;
  margin-top: 1.3rem;
  max-height: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
#main-index section .container-info .info-item h2 {
  display: block;
  font-size: 1.3em;
  font-weight: 500;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
}
#main-index section .container-info .info-item p {
  display: block;
  font-size: 1em;
  padding: 0.3rem;
  margin: 0px;
}
#main-index section .container-info .info-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1.2rem;
  margin: 0.2rem;
  justify-content: center;
}
#main-index section .container-info .info-link:nth-child(2) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
#main-index section .container-info .info-link:nth-child(4) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
#main-index section .container-info .info-link:nth-child(6) {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}
@media only screen and (min-width: 768px) {
  #main-index section .container-info .info-item .info-img {
    min-height: 75px;
  }
  #main-index section .container-info .info-item h2 {
    font-size: 1.5em;
  }
  #main-index section .container-info .info-item p {
    font-size: 1.2em;
  }
}
@media only screen and (min-width: 1200px) {
  #main-index section .container-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.5fr;
    align-items: flex-start;
    text-align: center;
    gap: 0px;
    margin-bottom: 40px;
  }
  #main-index section .container-info .info-item:nth-child(1) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #main-index section .container-info .info-item:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #main-index section .container-info .info-item:nth-child(5) {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
  #main-index section .container-info .info-item .info-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 5px;
    min-height: 60px;
  }
  #main-index section .container-info .info-item .info-img img {
    width: 30%;
    height: auto;
  }
  #main-index section .container-info .info-item h2 {
    font-size: 1.3em;
  }
  #main-index section .container-info .info-link {
    padding: 1rem;
  }
  #main-index section .container-info .info-link:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: flex-end;
  }
  #main-index section .container-info .info-link:nth-child(4) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: flex-end;
  }
  #main-index section .container-info .info-link:nth-child(6) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    align-self: flex-end;
  }
}

/* FIN - MAIN - INDEX */
/* INICIO - MAIN - CONTACTO */
#main-contact {
  background-image: url(../img/backgrounds/bg-contact-sesion.jpg);
  background-size: 100% 100%;
}
#main-contact .contact-pos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}
#main-contact .contact-pos .contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0px 0px 11px 3px gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: rgb(40, 44, 52);
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 20px;
  width: 100%;
  font-size: calc(5px + 2vmin);
}
#main-contact .contact-pos .contact .contact-title {
  text-align: center;
  font-weight: 500;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
#main-contact .contact-pos .contact .contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.3fr 1fr;
  background: rgb(51, 51, 51);
  padding: 40px;
  gap: 30px;
}
@media only screen and (min-width: 576px) {
  #main-contact .contact-pos .contact {
    width: 70%;
  }
}
@media only screen and (min-width: 768px) {
  #main-contact .contact-pos .contact {
    margin-bottom: 50px;
    margin-top: 50px;
  }
  #main-contact .contact-pos .contact .contact-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 1fr;
    padding: 40px;
    gap: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  #main-contact .contact-pos .contact .contact-container {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr;
  }
}

/* FIN - MAIN - CONTACTO */
/* INICIO - MAIN - INICIAR-SESION */
#main-sesion {
  background-image: url(../img/backgrounds/bg-contact-sesion.jpg);
  background-size: 100% 100%;
  min-height: 70vh;
  padding: 10px;
}
#main-sesion .sesion-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-bottom: 40px;
  margin-top: 40px;
  box-shadow: 0px 0px 11px 3px gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #282c34;
  color: white;
  border: 1px solid gray;
  border-radius: 5px;
  padding-top: 20px;
  width: 100%;
  padding: 0px;
  font-size: calc(5px + 2vmin);
}
#main-sesion .sesion-container .sesion-title {
  text-align: center;
  font-weight: 500;
}
#main-sesion .sesion-container .sesion__content {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: rgb(51, 51, 51);
  margin: 0px;
  padding: 20px 20px 15px;
  gap: 5px;
}
#main-sesion .sesion-container .sesion__content .sesion-form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  gap: 20px;
}
@media only screen and (min-width: 576px) {
  #main-sesion .sesion-container .sesion__content {
    padding: 20px 40px 10px;
  }
}
@media only screen and (min-width: 768px) {
  #main-sesion .sesion-container {
    width: 60%;
  }
}
@media only screen and (min-width: 1200px) {
  #main-sesion .sesion-container {
    width: 40%;
  }
}

/* FIN - MAIN - INICIAR SESION */
/* INICIO - MAIN - PRODUCTO */
#main-productos {
  background-image: url(../img/backgrounds/bg-product.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding: 10px;
}
#main-productos .container-product {
  margin-bottom: 40px;
  margin-top: 40px;
  padding: 0px;
}
#main-productos .container-product .product-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  #main-productos .container-product .product-list {
    justify-content: space-around;
  }
}
@media only screen and (min-width: 1200px) {
  #main-productos .container-product .product-list {
    justify-content: space-between;
  }
}

/* FIN - MAIN - PRODUCTO */
/* INICIO - MAIN - SOBRE NOSOTROS */
main .aboutus-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr repeat(2, 0.4fr);
  margin-bottom: 40px;
  margin-top: 40px;
  gap: 20px;
}
main .aboutus-container .aboutus-sect-1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
main .aboutus-container .aboutus-sect-1 .sect-1__title {
  font-family: "Droid serif", serif;
  color: #b48608;
  font-size: 2.25rem;
  font-weight: 600;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: center;
}
main .aboutus-container .aboutus-sect-1 .sect-1__p {
  font-family: "Droid serif", serif;
  font-size: 1.2rem;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: left;
}
main .aboutus-container .aboutus-sect-1 .sect-1__p a .remark-2 {
  font-style: italic;
  color: #c64119;
  border-bottom: 1px solid #c64119;
}
main .aboutus-container .aboutus-sect-2 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
main .aboutus-container .aboutus-sect-2 .sect-2__map {
  width: 100%;
  height: 100%;
}
main .aboutus-container .aboutus-sect-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
main .aboutus-container .aboutus-sect-3 .sect-3__title {
  font-family: "Droid serif", serif;
  color: #b48608;
  font-size: 2.25rem;
  font-weight: 500;
  font-style: italic;
  line-height: 44px;
  margin: 0 0 12px;
  text-align: left;
}
main .aboutus-container .aboutus-sect-3 .sect-3__ul {
  font-family: "Verdana", sans-serif;
  font-size: 1rem;
  line-height: 26px;
  margin: 0 0 14px;
}
main .aboutus-container .aboutus-sect-3 .sect-3__ul li {
  color: black;
}
main .aboutus-container .aboutus-sect-3 .sect-3__ul li .icon-green {
  color: green;
  font-size: 1.3rem;
}
@media only screen and (min-width: 768px) {
  main .aboutus-container {
    display: grid;
    grid-template-columns: 1fr 0.8fr;
    grid-template-rows: 1fr 0.8fr;
    gap: 10px;
  }
  main .aboutus-container .aboutus-sect-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  main .aboutus-container .aboutus-sect-1 .sect-1__p {
    text-indent: 30px;
    font-size: 1.5rem;
  }
  main .aboutus-container .aboutus-sect-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 0px;
    animation: appears-left 0.5s linear;
  }
  main .aboutus-container .aboutus-sect-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    animation: appears-right 0.5s linear;
  }
}
@media only screen and (min-width: 1200px) {
  main .aboutus-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  main .aboutus-container .aboutus-sect-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    animation: appears-left 0.5s linear;
  }
  main .aboutus-container .aboutus-sect-1 .sect-1__title {
    text-align: left;
  }
  main .aboutus-container .aboutus-sect-2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
    min-width: 70%;
    animation: appears-right 0.5s linear;
  }
  main .aboutus-container .aboutus-sect-3 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    animation: appears-left 0.5s linear;
  }
}

/* FIN - MAIN - SOBRE NOSOTROS */

/*# sourceMappingURL=style.css.map */
