@use "sass:list";
/* Global y Body */
$colors:(
    /* Principales */
    bg-header:rgb(0, 0, 139, 0.9),
    bg-main:#EBEBEB,
    bg-footer:rgb(0, 0, 139),
    bg-details:rgba(255,102,203, 0.5),
    bg-details-hover:rgba(255,102,203,0.6),
    btn-primary:rgba(255, 68, 193, 0.9),

    /* Header link & link active */
    nav-link:rgb(255, 255, 255, 0.7),
    nav-link-active:rgb(255, 255, 255),
    /* Links footer */
    footer-link:white,
    footer-link-hover:rgb(255,102,203, 0.8),
    /* Botones footer*/
    footer-bg-buton:rgba(255,102,203, 0.5),
    footer-txt-buton:white,
    footer-outline-buton:black,
    footer-bg-buton-hover:rgba(255,102,203,0.6),
    footer-txt-buton-hover:white,
    footer-outline-buton-hover:rgba(3, 3, 184, 0.641),
    /* Divisiones footer*/
    footer-divisions: gray,

    /* Index */
    txt-carousel:aquamarine,
    cards-border: gray,
    cards-background:white,
    cards-link:blue,
    cards-shipment: green,
    /* more information */
    bg-info:white,
    bg-info-button:rgb(65, 121, 194,0.7),
    bg-info-button-hover:rgb(0,75,172,0.08),
    outline-info-button:rgb(0,75,172),
    color-info-button:white,
    color-info-button-hover:black,
    /*about us*/
    color-about-title:#b48608,
    color-about-remark:#c64119,
    color-about-remark-bottom:#c64119,
    color-about-li-icons:green,
    /*contact*/
    bg-contact:rgb(40, 44, 52),
    color-contact:white,
    border-contact:gray,
    bg-contact-container:rgb(51, 51, 51),
    bg-contact-img:rgb(0, 0, 139,0.5),
    border-contact-input:rgb(0, 0, 124),
    color-contact-input:white,
    border-contact-input-focus:rgba(13, 13, 194),
    bg-contact-input-gradient:rgb(34, 34, 34),
    bg-contact-form-select:black,
    /*contact submit btn*/
    bg-contact-submit-btn:rgba(0, 0, 124),
    color-contact-submit-btn:white,
    outline-contact-submit-btn:rgba(0, 0, 139,0.5),
    bg-contact-submit-btn-hover:rgba(13, 13, 194),
    bg-contact-submit-btn-focus:rgba(13, 13, 194),
    /*Sesion */
    bg-sesion:#282c34,
    color-sesion:white,
    boder-sesion:gray,
    bg-sesion-content:rgb(51, 51, 51),
    border-sesion-input:rgb(0, 0, 124),
    color-sesion-input:white,
    color-sesion-input-focus:rgb(34, 34, 34),
    border-sesion-input-focus:rgba(13, 13, 194),
    bg-sesion-submit-a:rgba(0, 0, 124),
    color-sesion-submit-a:white,
    border-sesion-submit-a-outset-inset:rgb(118, 118, 118),
    outline-sesion-submit-a:rgba(0, 0, 139,0.5),
    bg-sesion-submit-hover-a:rgba(13, 13, 194),
    bg-sesion-submit-btn:rgba(0, 0, 124),
    color-sesion-submit-btn:white,
    outline-sesion-submit-btn:rgba(0, 0, 139,0.5),
    outline-sesion-submit-hover:rgba(13, 13, 194),
    /* Product */
    color-product:white,
    bg-container-img:white,
    color-link:white,
    bg-product-btn:rgba(0, 0, 124),
    color-product-btn:white,
    outline-product-btn:rgba(0, 0, 139,0.5),
    border-product-btn:rgb(118, 118, 118),
    bg-product-btn-hover:rgba(13, 13, 194),
    bg-product-item:gray,
    bg-product-item-hover:rgb(30, 177, 235),
    color-product-item:white,
    bg-product-item-img:white,
);
/*color - animacion iniciar sesion*/
$primary-c-anim:rgb(163, 14, 255);
$secondary-c-anim:rgb(0, 248, 182);
$remark-c-anim:rgb(0, 248, 182);

$font-1:'Montserrat', sans-serif;
$font-2:'Droid serif', serif; 
$font-3: 'Verdana', sans-serif; 
$font-4:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$font-5:Proxima Nova,-apple-system,Roboto,Arial,sans-serif;

$fonts:(
    f-primary:$font-1,
    f-aboutus:$font-2,
    f-aboutus-ul:$font-3,
    f-contact:$font-4,
    f-sesion:$font-4,
    f-product-price:$font-5
);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:map-get($fonts,"f-primary" );
    text-decoration: none;
    list-style: none; 
  }
body{
    background-color: map-get($colors,"bg-main");
}
li,ul{
    list-style-type: none;
    color: map-get($colors,"font-w");
    
}
a{
    text-decoration: none;
}


@mixin grid-box($tcol:1fr,$trow:1fr){
    display: grid;
    grid-template-columns: $tcol;
    grid-template-rows: $trow;
}
@mixin grid-col-row($col1:1,$col2:2,$row1:1,$row2:2){
    grid-column: list.slash($col1,$col2);
    grid-row: list.slash($row1,$row2);
}
@mixin flex-box($direc:row,$wrap:nowrap){
    display: flex;
    flex-direction: $direc;
    flex-wrap: $wrap;
}
@mixin justify-align($justify:center,$align:center){
    justify-content: $justify;
    align-items: $align;
}
@mixin justifyitems-alignitems($justify:center,$align:center){
    justify-items: $justify;
    align-items: $align;
}

@mixin font-size-weight($size:1.3rem,$weight:400){
    font-size: $size;
    font-weight: $weight;
}

@mixin reset-margin($marg:0px){
    margin: $marg;
}
@mixin reset-padding($pad:0px){
    padding: $pad;
}
@mixin reset-border($border:0px){
    border: $border;
}
@mixin width-heigth($width,$height){
    width:$width;
    height:$height;
}
@mixin margin-bottom-top($bottom:0px,$top:0px){
    margin-bottom: $bottom;
    margin-top: $top;
}


@mixin mq-sm{
    @media only screen and (min-width:576px){
        @content;
    }
}

@mixin mq-md{
    @media only screen and (min-width:768px){
        @content;
    }
}

@mixin mq-lg{
    @media only screen and (min-width:992px){
        @content;
    }
}

@mixin mq-xl{
    @media only screen and (min-width:1200px){
        @content;
    }
}

@mixin mq-xxl{
    @media only screen and (min-width:1400px){
        @content;
    }
}