.sesion-anim{
    text-shadow: 0 0 15px #000c;
    animation: color-txt 0.6s ease 3;
    animation-play-state:running; 
    font-family: map-get($fonts,"f-sesion");
    background: -webkit-linear-gradient(left,$primary-c-anim,$primary-c-anim,$remark-c-anim,$remark-c-anim,$secondary-c-anim,$primary-c-anim);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

@keyframes color-txt{
    0%{
        background: -webkit-linear-gradient(right,$remark-c-anim,$remark-c-anim,$secondary-c-anim,$primary-c-anim,$primary-c-anim,$primary-c-anim);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    30%{
        background: -webkit-linear-gradient(right,$primary-c-anim,$remark-c-anim,$remark-c-anim,$secondary-c-anim,$primary-c-anim,$primary-c-anim);    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    50%{        
        background: -webkit-linear-gradient(left,$primary-c-anim,$primary-c-anim,$remark-c-anim,$remark-c-anim,$secondary-c-anim,$primary-c-anim);    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
    60%{
        background: -webkit-linear-gradient(left,$primary-c-anim,$primary-c-anim,$primary-c-anim,$remark-c-anim,$remark-c-anim,$secondary-c-anim);    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    100%{
        background: -webkit-linear-gradient(right,$secondary-c-anim,$primary-c-anim,$primary-c-anim,$primary-c-anim,$remark-c-anim,$remark-c-anim);    
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }

}