.carrito-ProductBtns{
    background-color: map-get($colors,"bg-product-btn");
    color:map-get($colors,"color-product-btn");
    outline: 3px solid map-get($colors,"outline-product-btn");
    padding: 5px 10px;
    border: 2px outset map-get($colors,"border-product-btn");
    &:hover{
        background-color: map-get($colors,"bg-product-btn-hover");
    }
    &:active{
        border: 2px inset map-get($colors,"border-product-btn");
    }
}
.carrito-BuyEmptyBtns{
    background-color: map-get($colors,"bg-product-btn");
    color:map-get($colors,"color-product-btn");
    outline: 3px solid map-get($colors,"outline-product-btn");
    padding: 5px 10px;
    border: 2px outset map-get($colors,"border-product-btn");
    margin: 5px 0px;
    &:hover{
        background-color: map-get($colors,"bg-product-btn-hover");
    }
    &:active{
        border: 2px inset map-get($colors,"border-product-btn");
    }
}
