.sesion-submit{
    @include flex-box();
    @include justify-align(space-between,center);
    margin: 20px 0px 20px;
    a{  
        @extend .btn-pulse;
        background-color: map-get($colors,"bg-sesion-submit-a");
        color:map-get($colors,"color-sesion-submit-a");
        outline: 3px solid map-get($colors,"outline-sesion-submit-a");
        padding: 10px 20px;
        border: 2px outset map-get($colors,"border-sesion-submit-a-outset-inset");
        &:hover{
            background-color: map-get($colors,"bg-sesion-submit-a-hover");
        }
        &:focus{
            background:map-get($colors,"bg-sesion-submit-a-hover");
        }
        &:active{
            border: 2px inset map-get($colors,"border-sesion-submit-a-outset-inset");
        }
    }
    input[type="submit"]{
        @extend .btn-pulse;
        background-color: map-get($colors,"bg-sesion-submit-btn");                
        color:map-get($colors,"color-sesion-submit-btn");
        outline: 3px solid map-get($colors,"outline-sesion-submit-btn");
        padding: 10px 20px;
        align-self: center;
        &:hover{
            background-color: map-get($colors,"bg-sesion-submit-btn-hover");
        }
        &:focus{
            background-color:map-get($colors,"bg-sesion-submit-btn-hover");
        }
    }
    @include mq-sm{
        a{
            padding: 10px 40px;
        }    
        input[type="submit"]{
            padding: 10px 40px;
        }
    }
}